{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "prettier/react"
  ],
  "rules": {
    "prettier/prettier": "error",
    "indent": 0,
    "comma-dangle": ["error", "always-multiline"]
  },
  "overrides": [
    {
      "files": ["tests/e2e/**/*.ts"],
      "rules": {
        "@typescript-eslint/no-explicit-any": 0,
        "@typescript-eslint/no-var-requires": 0
      }
    }
  ]
}
